@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --color-blue-950: #172554;
  --color-orange-500: #f97316;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #ffffff;
    overflow-x: hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }
}
